<%# app/views/players/new.html.erb %>
<div class="min-h-screen flex items-center justify-center p-4" style="background-color: <%= @game.background_color %>;">
      
    <%= render "form", player: @player %>
  </div>
</div>


  
